In [1]:
from bs4 import BeautifulSoup
import requests
from requests import get
import urllib.parse
from urllib.error import HTTPError
import json
import time
import pandas as pd
import numpy as np

The scraper ran into issues so this is combining the different outputs into one csv

In [3]:
df1 = pd.read_csv('output_first.csv')
df2 = pd.read_csv('output_second.csv')
df3 = pd.read_csv('output_ny.csv')
df4 = pd.read_csv('output_third.csv')

In [4]:
df_out = pd.concat([df1,df2,df3,df4])

In [8]:
df_out.columns

Index(['Unnamed: 0', '0', '0.1', '0.2'], dtype='object')

In [11]:
df_out.drop(columns = ['Unnamed: 0'],inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [17]:
df_out.reset_index(inplace=True)

In [20]:
df_out.drop(columns = ['index'],inplace=True)

In [22]:
df_out['combined']=df_out['0.1']+df_out['0.2']

In [24]:
df_out.drop_duplicates(subset ="combined", 
                     keep = False, inplace = True)

In [26]:
df_out.drop(columns = ['combined'],inplace=True)

In [30]:
df_out.head()

                    0          0.1      0.2
0  moderately liberal  Birmingham   Alabama
1    somewhat liberal  Montgomery   Alabama
2     leaning liberal      Mobile   Alabama
3     leaning liberal  Huntsville   Alabama
4  moderately liberal  Tuscaloosa   Alabama

In [36]:
df_out.rename(columns={'0': 'politics', '0.1': 'City','0.2':'State'},inplace=True)

In [37]:
df_out

                     politics         City    State
0          moderately liberal  Birmingham   Alabama
1            somewhat liberal  Montgomery   Alabama
2             leaning liberal      Mobile   Alabama
3             leaning liberal  Huntsville   Alabama
4          moderately liberal  Tuscaloosa   Alabama
...                       ...          ...      ...
5052  moderately conservative     Douglas   Wyoming
5053    somewhat conservative      Powell   Wyoming
5054  moderately conservative  Torrington   Wyoming
5055  moderately conservative     Worland   Wyoming
5056  moderately conservative     Buffalo   Wyoming

[4943 rows x 3 columns]

In [38]:
df_out.to_csv('finalpolitics.csv')