In [1]:
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
df = pd.read_csv('test.csv')

Dropping First column, land area ones since they came as blank

In [11]:
df.drop(columns = ['Unnamed: 0','population per square mile','land area in square miles'],inplace=True)

In [12]:
df.head()

,city,state,political affiliation,population,people under age 5,people under age 18,people 65 and older,female,white,black,...,avg household income,per capita income in last 12 months,people in poverty,businesses,men owned businesses,female owned businesses,minority owned businesses,nonminority owned businesses,veteran owned businesses,nonveteran owned businesses
0,Birmingham,Alabama,liberal,209880,6.5,20.3,14.2,53.1,25.3,70.5,...,35346,22993,27.2,20738,10318,8286,10605,8770,2082,17113
1,Montgomery,Alabama,liberal,198218,6.8,24.0,13.7,53.0,33.3,60.6,...,45921,27172,21.9,18043,8879,7459,8793,8363,2352,14434
2,Mobile,Alabama,liberal,189572,6.3,21.7,16.0,52.6,44.8,50.6,...,40588,26023,22.0,20118,9703,8644,8808,10250,2275,16639
3,Huntsville,Alabama,liberal,197318,6.4,21.1,15.7,51.9,61.6,30.6,...,53840,34589,17.7,16838,8211,6565,4380,11515,1816,13915
4,Tuscaloosa,Alabama,liberal,101113,5.9,18.8,11.7,52.4,51.1,44.1,...,44120,25364,24.2,6802,3374,2530,1953,4375,670,5438

In [13]:
df.shape

(10, 45)

In [16]:
df.columns

Index(['city', 'state', 'political affiliation', 'population',
       'people under age 5', 'people under age 18', 'people 65 and older',
       'female', 'white', 'black', 'american indian or alaska native', 'asian',
       'native hawaiian and other pacific islander', '2+ races', 'hispanic',
       'veteran', 'foreign born', 'owner occupied houses',
       'avg value of owner occupied houses', 'avg rent', 'households',
       'people per household', 'living in same house for over a year',
       'language other than english spoken at home',
       'households with computer', 'households with internet',
       'high school graduate or higher, 25+',
       'bachelor's degree or higher, 25+', 'with disability, under 65',
       'without health insurance, under 65', 'total labor force, 16+',
       'female labor force, 16+',
       'healthcare and social assistance revenue ($1,000)',
       'manufacturers shipments ($1,000)',
       'avg travel time to work (min), 16+', 'avg household income',
       'per capita income in last 12 months', 'people in poverty',
       'businesses', 'men owned businesses', 'female owned businesses',
       'minority owned businesses', 'nonminority owned businesses',
       'veteran owned businesses', 'nonveteran owned businesses'],
      dtype='object')

We dont need city or state anymore as they are just identifiers and potentially overpower local politics too much

In [17]:
df.drop(columns = ['city','state'],inplace=True)

In [18]:
df['political affiliation'].value_counts()

liberal         7
conservative    3
Name: political affiliation, dtype: int64

In [19]:
df.isnull().sum()

political affiliation                                0
population                                           0
people under age 5                                   0
people under age 18                                  0
people 65 and older                                  0
female                                               0
white                                                0
black                                                0
american indian or alaska native                     0
asian                                                0
native hawaiian and other pacific islander           0
2+ races                                             0
hispanic                                             0
veteran                                              0
foreign born                                         0
owner occupied houses                                0
avg value of owner occupied houses                   0
avg rent                                             0
households                                           0
people per household                                 0
living in same house for over a year                 0
language other than english spoken at home           0
households with computer                             0
households with internet                             0
high school graduate or higher, 25+                  0
bachelor's degree or higher, 25+                     0
with disability, under 65                            0
without health insurance, under 65                   0
total labor force, 16+                               0
female labor force, 16+                              0
healthcare and social assistance revenue ($1,000)    0
manufacturers shipments ($1,000)                     0
avg travel time to work (min), 16+                   0
avg household income                                 0
per capita income in last 12 months                  0
people in poverty                                    0
businesses                                           0
men owned businesses                                 0
female owned businesses                              0
minority owned businesses                            0
nonminority owned businesses                         0
veteran owned businesses                             0
nonveteran owned businesses                          0
dtype: int64

In [40]:
df.head()

(4884, 3)

In [42]:
# data types
df.info()

0            liberal
1            liberal
2            liberal
3            liberal
4            liberal
            ...
4938    conservative
4939    conservative
4940    conservative
4941    conservative
4942    conservative
Name: politics, Length: 4884, dtype: object