# Data Collection

## Import Packages

In [24]:
from bs4 import BeautifulSoup
import requests
import urllib.parse
from urllib.error import HTTPError
import json
import time
import pandas as pd
import numpy as np

## Web Scrape Functions

Our first function will have us finding information on census.gov for given cities and adding this information to a dataframe.

In [ ]:
def collect_city_data(city, state):
    """Return lists of data for given city."""
    try:
        census_url = f"https://www.census.gov/quickfacts/fact/table/{city}city{state}/PST045219"
        data = json.load(urllib.request.urlopen(url))
    #if there is an HTTP error, set values to null and continue
    except HTTPError as err:
        time.sleep(0.5)
        continue
    time.sleep(0.5)
    lists = []
    return lists
# https://www.census.gov/quickfacts/fact/table/newyorkcitynewyork/PST045219

## Table of States and Cities in that State

In [21]:
top_cities = pd.read_csv('Top5000Population.csv')
states = pd.read_csv('data.csv')

In [15]:
top_cities.head()

           City Code Population
0     New York    NY  8,363,710
1  Los Angeles    CA  3,833,995
2      Chicago    IL  2,853,114
3      Houston    TX  2,242,193
4      Phoenix    AZ  1,567,924

In [16]:
states.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [27]:
states['Cities'] = np.empty((len(states), 0)).tolist()

In [28]:
states.head()

        State  Abbrev Code Cities
0     Alabama    Ala.   AL     []
1      Alaska  Alaska   AK     []
2     Arizona   Ariz.   AZ     []
3    Arkansas    Ark.   AR     []
4  California  Calif.   CA     []

In [29]:
for state_index, state_row in states.iterrows():
    for city_index, city_row in top_cities.iterrows():
        if city_row['Code'] == state_row['Code']:
            state_row['Cities'].append(city_row['City'])

In [30]:
states.head()

        State  Abbrev Code                                             Cities
0     Alabama    Ala.   AL  [Birmingham , Montgomery , Mobile , Huntsville...
1      Alaska  Alaska   AK  [Anchorage, Fairbanks , Juneau, Wasilla , Sitk...
2     Arizona   Ariz.   AZ  [Phoenix , Tucson , Mesa , Glendale , Chandler...
3    Arkansas    Ark.   AR  [Little Rock , Fort Smith , Fayetteville , Spr...
4  California  Calif.   CA  [Los Angeles , San Diego , San Jose , San Fran...

## Table with Collected Data